<%-include('../partials/header.ejs')-%>
<section class="background-radial-gradient overflow-hidden">
  <style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(
          650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%
        ),
        radial-gradient(
          1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%
        );
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style>

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1
          class="my-5 display-5 fw-bold ls-tight"
          style="color: hsl(218, 81%, 95%)"
        >
          The best offer <br />
          <span style="color: hsl(218, 81%, 75%)">for your business</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          <!-- Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus,
          expedita iusto veniam atque, magni tempora mollitia dolorum
          consequatur nulla, neque debitis eos reprehenderit quasi ab ipsum nisi
          dolorem modi. Quos? -->
          The company was user friendly and so many offers are availbe in this website 
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div
          id="radius-shape-1"
          class="position-absolute rounded-circle shadow-5-strong"
        ></div>
        <div
          id="radius-shape-2"
          class="position-absolute shadow-5-strong"
        ></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form action="/signup2" method="post">
              <% if(locals.refer){ %>
              <h4 class="success-msg">Refferal Applied Succesfully</h4>
              <% } %>

              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <small id="msgname" style="color: red"
                      ><%-locals.exists?exists:""-%></small
                    >
                    <input
                      type="text"
                      id="Input1"
                      class="form-control"
                      placeholder="Full Name"
                      name="name"
                      oninput="validateUerName()"
                      required
                    />
                    <label class="form-label" for="form3Example1"
                      >First name</label
                    >
                  </div>
                </div>
                <!-- <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input
                        type="text"
                        id="form3Example2"
                        class="form-control"
                      />
                      <label class="form-label" for="form3Example2"
                        >Last name</label
                      >
                    </div>
                  </div> -->
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <small id="msgemail"></small>
                <input
                  type="email"
                  id="Input2"
                  class="form-control mt-4"
                  placeholder="email"
                  name="email"
                  onchange="validateUserEmail()"
                  required
                />
                <label class="form-label" for="form3Example3"
                  >Email address</label
                >
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <small id="msgpassword"></small>
                <input
                  type="password"
                  id="Input3"
                  class="form-control mt-4"
                  name="password"
                  placeholder="password"
                  onchange="validatePassword()"
                  required
                />
                <input
                  type="hidden"
                  name="referredBy"
                  value="<%= locals.refer %>"
                />

                <label class="form-label" for="form3Example4">Password</label>
              </div>
              <div class="form-outline mb-4">
                <small id="msgpassword2"></small>
                <input
                  type="password"
                  id="Input4"
                  class="form-control mt-4"
                  name="confirmpassword"
                  placeholder=" Conform password"
                  onkeyup="checkPasswordMatch()"
                  required
                />
                <label class="form-label" for="form3Example4"
                  >Conform Password</label
                >
              </div>

              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <label class="form-check-label" for="form2Example33">
                  <a href="/login" style="float: right" class="text-dark"
                    >I have account</a
                  >
                </label>
              </div>

              <!-- Submit button -->
              <button
                type="submit"
                class="btn btn-primary btn-block mb-4"
                id="signupButton"
                disabled
              >
                Sign up
              </button>

              <!-- Register buttons -->
              <div class="text-center">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function check() {
    console.log("script is ok");
  }
  function validateUerName() {
    var usernamePattern = /^[a-zA-Z0-9_.\s]{3,16}$/;
    var name = document.getElementById("Input1").value;
    var msg = document.getElementById("msgname");
    var signupButton = document.getElementById("signupButton");

    if (usernamePattern.test(name) && !name.includes(" ")) {
      msg.innerHTML = "";
      signupButton.disabled = false; //Enable the button
      console.log("send1"); //move this line inside if block
    } else {
      if (name.includes(" ")) {
        console.log("send2"); //does not support
        msg.innerHTML = "Username does not include space";
        signupButton.disabled = true; // Disable the button
      } else {
        msg.innerHTML = "Username must be 3-20 characters";
        signupButton.disabled = true; // again disabled the button
      }
    }
  }
  function validateUserEmail() {
    var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
    var email = document.getElementById("Input2").value;
    var isValid = emailPattern.test(email);
    var msg = document.getElementById("msgemail");
    var signupButton = document.getElementById("signupButton");

    if (isValid) {
      msg.innerHTML = "";
      signupButton.disabled = false; //Enable the button
    } else {
      msg.innerHTML = "Invalid email address";
      signupButton.disabled = true; //disable the button
    }
  }

  function validatePassword() {
    var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/;
    var password = document.getElementById("Input3").value;
    var msg = document.getElementById("msgpassword");
    var isValid = passwordPattern.test(password);
    var signupButton = document.getElementById("signupButton");

    if (isValid) {
      msg.innerHTML = "";
      signupButton.disabled = false; //Enable the button
    } else {
      msg.innerHTML =
        "Password must be at least 8 characters ,including one lowercase letter,one upercase letter,and one number";
      signupButton.disabled = true; //Disable the button
    }
  }

  //check password and confirmpassword  to match
  function checkPasswordMatch() {
    var password = document.getElementById("Input3").value;
    var confirmpassword = document.getElementById("Input4").value;
    var msg = document.getElementById("msgpassword2");
    var signupButton = document.getElementById("signupButton");
    //then check match this password
    if (password === confirmpassword && confirmpassword.length >= 8) {
      msg.innerHTML = "";
      signupButton.disabled = false; // Enable the button
    } else {
      msg.innerHTML = "Password does not match please try again";
      signupButton.disabled = true; // disabled the button
    }
  }
</script>

<%-include('../partials/footer.ejs')-%>
